.DS_Store
__pycache__/
*.py[cod]
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
napari.log
**/data/derived/
bates-schlegel-2020/slices/
benton-2025/data/source/*.pdf
comparative-atlases/data/source/*.pdf
grabe-2016/data/source/Grabe et al. - *.pdf
laissue-1999/data/source/*.pdf
