include README.md
include LICENSE
include datasets/paper_pdf_sources.csv
include lobemap
include lobemap.py
include __init__.py
include __main__.py

recursive-include scripts *.py
recursive-include docs *.md

recursive-include datasets *.py *.md
include datasets/reference-tables/*.csv

recursive-include datasets/*/data/derived *
recursive-include datasets/*/data/validation *
recursive-include datasets/banc/data/source *
recursive-include datasets/door/data/source *
recursive-include datasets/edmond-fibsem/data/source *
recursive-include datasets/flywire-codex/data/source *
recursive-include datasets/flywire/data/source *
recursive-include datasets/grabe-2015/data/source *.am *.csv *.png *.tif
recursive-include datasets/hemibrain/data/source *
recursive-include datasets/jrc2018unisex/data/source *
recursive-include datasets/vfb/data/source *
